body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    margin-top: 100px; /* Espaço para o header fixo */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Ajustando a largura para acomodar o conteúdo */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaço entre as tabelas */
    flex-wrap: wrap; /* Quebra as tabelas para a próxima linha, se necessário */
}

.table-block {
    flex: 1;
    min-width: 200px; /* Largura mínima para as tabelas */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12px; /* Reduzindo o tamanho da fonte */
}

th, td {
    padding: 8px; /* Reduzindo o padding */
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
    font-size: 16px; /* Ajustando o tamanho da fonte do título */
    margin-bottom: 10px; /* Margem inferior reduzida */
}

.input-group {
    margin-bottom: 15px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

#file-upload {
    display: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn {
    background-color: #0056b3;
}
.cursada {
    background-color: #98FB98; /* Verde claro */
}
