/* Estilo geral para o body */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #FFECB3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o container principal */
.container {
    padding: 30px;
    background-color: #FFF9C4;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

/* Estilo para o título */
h1 {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 20px;
}

/* Estilo para o grupo de inputs */
.input-group {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    border: 2px solid #FFA000;
    border-radius: 10px;
    background-color: #FFB74D;
    color: white;
    font-weight: bold;
}

#file-upload {
    display: none;
}

/* Estilo para o botão de envio */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #FFD54F;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
}

/* Estilo para o botão quando passa o mouse sobre ele */
.btn:hover {
    background-color: #FFC107;
    transform: translateY(-2px);
}

/* Estilo para o botão quando ele está ativo */
.btn:active {
    background-color: #FFB300;
    transform: translateY(0);
}