<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}" type="image/x-icon">
    <title>Upload de Arquivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>BEM-VINDE!</h1>
        <form id="upload-form" action="{{ url_for('cursadas') }}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label for="file-upload" class="custom-file-upload">
                    SELECIONE O ARQUIVO PDF
                </label>
                <input id="file-upload" type="file" name="pdf" accept=".pdf" required/>
            </div>
            <p id="file-name"></p>
            <button type="submit" class="btn">ENVIAR</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
