<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}" type="image/x-icon">
    <title>Previsão de Matérias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilo.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="header">
            <div class="title">Área de Concentração</div>
            <div class="navigation">
                <a href="{{ url_for('index') }}" class="btn">Início</a>
                <a href="{{ url_for('cursadas') }}" class="btn">Matérias Cursadas</a>
                <a href="{{ url_for('todas') }}" class="btn">Todas as Matérias</a>
            </div>
        </div>

        <div class="tables-container">
            <div class="table-block">

                <h2>Ciência de Dados</h2>
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    {% for materia in cienciadedados %}
                    <tr class="{% if materia in materias_cursadas %}cursada{% endif %}">
                        <td>{{ materia[0] }}</td>
                        <td>{{ materia[1] }}</td>
                    </tr>                    
                    {% endfor %}
                </table>
            </div>

            <div class="table-block">
                <h2>Estudo de Engenharia</h2>
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    {% for materia in estudodeengenharia %}
                    <tr class="{% if materia in materias_cursadas %}cursada{% endif %}">
                        <td>{{ materia[0] }}</td>
                        <td>{{ materia[1] }}</td>
                    </tr>
                    
                    {% endfor %}
                </table>
            </div>

            <div class="table-block">
                <h2>Engenharia de Produção</h2>
                
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    {% for materia in engenhariadeprod %}
                    <tr class="{% if materia in materias_cursadas %}cursada{% endif %}">
                        <td>{{ materia[0] }}</td>
                        <td>{{ materia[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="table-block">
                <h2>Bacharel Interdisciplinar</h2>
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    {% for materia in b_i %}
                    <tr class="{% if materia in materias_cursadas %}cursada{% endif %}">
                        <td>{{ materia[0] }}</td>
                        <td>{{ materia[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
